## 10.2 Assignment: Recommender System

Using the small MovieLens data set, create a recommender system that allows users to input a movie they like (in the data set) and recommends ten other movies for them to watch. In your write-up, clearly explain the recommender system process and all steps performed. If you are using a method found online, be sure to reference the source.


You can use R or Python to complete this assignment. Submit your code and output to the submission link. Make sure to add comments to all of your code and to document your steps, process, and analysis.

##### Please Note: For this assignment, I decided to try a few different methods and compare them to see the outcomes and how similar or dissimilar they were.

### Initial Method: Creating a Content-Based (Tags) Recommender Function

#### 1. Import libraries and pull in the data.

In [127]:
## Import libraries.
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

I will first pull in each of the .csv files separately (since they are saved as separate files), and then combine later on.

In [128]:
## Load/pull-in the movies, ratings, and tags data.
## A separate dataframe for each to start (since they each have their own .csv file).

movies_df = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\movies.csv")

ratings_df = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\ratings.csv")

tags_df = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\tags.csv")

In [129]:
## View the data.
## Movies.

movies_df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [130]:
## Ratings.

ratings_df.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [131]:
## Tags.

tags_df.head(5)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

#### 2. Transform and prepare the data to use in the recommender system.

In [132]:
## Next, combine the datasets together. 
combined_movie_df = ratings_df.merge(movies_df, on='movieId', how='left').merge(tags_df, on=['movieId', 'userId'], how='left')

combined_movie_df.head(10)

,userId,movieId,rating,timestamp_x,title,genres,tag,timestamp_y
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,NaN,NaN
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,NaN,NaN
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,NaN,NaN
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,NaN,NaN
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance,NaN,NaN
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War,NaN,NaN
8,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War,NaN,NaN
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War,NaN,NaN

#### 3. Organize the data in such a way so as to be able to use it more efficiently.

First, I want to aggregate the data of the movie ratings to get an overall rating. This will allow me to see how many ratings the rating is comprised of.

In [133]:
## Using aggregation methods, create a new ratings table.

aggregate_rate_df = pd.DataFrame(combined_movie_df.groupby('title')['rating'].mean())

aggregate_rate_df['totaloverall_ratings'] = pd.DataFrame(combined_movie_df.groupby('title')['rating'].count())

aggregate_rate_df = aggregate_rate_df.reset_index()

In [134]:
## View.
aggregate_rate_df.head(10)

                                     title    rating  totaloverall_ratings
0                               '71 (2014)  4.000000                     1
1  'Hellboy': The Seeds of Creation (2004)  4.000000                     1
2                   'Round Midnight (1986)  3.500000                     2
3                      'Salem's Lot (2004)  5.000000                     1
4                'Til There Was You (1997)  4.000000                     2
5          'Tis the Season for Love (2015)  1.500000                     1
6                       'burbs, The (1989)  3.176471                    17
7                     'night Mother (1986)  3.000000                     1
8              (500) Days of Summer (2009)  3.857143                    49
9           *batteries not included (1987)  3.285714                     7

Since I have a tags data file, and since tags are often used to "tag" a movie with certain themes or topic areas, using tags might be useful for classifying movies, and thus recommending movies to a user with similar tags to a movie they input to "search." Using tags will allow the recommender to "match" the recommended movie tags to the searched movie tags.

In [135]:
## Create a new dataframe to include up to the top 7 "tags" per movie.
top7tags_df = combined_movie_df[['title', 'tag']].reset_index().groupby(['title', 'tag']).count().reset_index().set_axis(['title', 'tag', 'count'], axis=1).sort_values('count', ascending=False).groupby('title').head(7)

In [136]:
## View the data.
top7tags_df.head(5)

                                          title                tag  count
814                         Donnie Darko (2001)          dreamlike      3
3159  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)        time travel      3
1008                          Fight Club (1999)        dark comedy      3
2862                       Step Brothers (2008)              funny      3
1470                           Inception (2010)  thought-provoking      3

Next, I will create a list of available movies, which will be useful to have a list of all of the movies present within the movie database. This way, if a user searches a movie that does not exist, I can send a message for them to choose a new movie since the one they searched wasn't present (and thus no recommendations can be made).

In [137]:
## Based upon the above, create an available movies list.
## And for error validation.
available_movies = list(combined_movie_df.sort_values('title', ascending=True)['title'].unique())

In [138]:
## View the list. 
available_movies

["'71 (2014)",
 "'Hellboy': The Seeds of Creation (2004)",
 "'Round Midnight (1986)",
 "'Salem's Lot (2004)",
 "'Til There Was You (1997)",
 "'Tis the Season for Love (2015)",
 "'burbs, The (1989)",
 "'night Mother (1986)",
 '(500) Days of Summer (2009)',
 '*batteries not included (1987)',
 '...All the Marbles (1981)',
 '...And Justice for All (1979)',
 '00 Schneider - Jagd auf Nihil Baxter (1994)',
 '1-900 (06) (1994)',
 '10 (1979)',
 '10 Cent Pistol (2015)',
 '10 Cloverfield Lane (2016)',
 '10 Items or Less (2006)',
 '10 Things I Hate About You (1999)',
 '10 Years (2011)',
 '10,000 BC (2008)',
 '100 Girls (2000)',
 '100 Streets (2016)',
 '101 Dalmatians (1996)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 "101 Dalmatians II: Patch's London Adventure (2003)",
 '101 Reykjavik (101 Reykjavík) (2000)',
 '102 Dalmatians (2000)',
 '10th & Wolf (2006)',
 '10th Kingdom, The (2000)',
 '10th Victim, The (La decima vittima) (1965)',
 '11\'09"01 - September 11 (2002)',
 '11:14 (2003)',
 '11th Hour, The (2007)',
 '12 Angry Men (1957)',
 '12 Angry Men (1997)',
 '12 Chairs (1971)',
 '12 Chairs (1976)',
 '12 Rounds (2009)',
 '12 Years a Slave (2013)',
 '127 Hours (2010)',
 '13 Assassins (Jûsan-nin no shikaku) (2010)',
 '13 Ghosts (1960)',
 '13 Going on 30 (2004)',
 '13 Hours (2016)',
 '13 Sins (2014)',
 '13 Tzameti (2005)',
 '13th (2016)',
 '13th Warrior, The (1999)',
 '1408 (2007)',
 '1492: Conquest of Paradise (1992)',
 '15 Minutes (2001)',
 '16 Blocks (2006)',
 '17 Again (2009)',
 '1776 (1972)',
 '18 Again! (1988)',
 '187 (One Eight Seven) (1997)',
 '1900 (Novecento) (1976)',
 '1941 (1979)',
 '1969 (1988)',
 '1984 (Nineteen Eighty-Four) (1984)',
 '2 Days in New York (2012)',
 '2 Days in Paris (2007)',
 '2 Days in the Valley (1996)',
 '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
 '2 Guns (2013)',
 '20 Dates (1998)',
 '20 Feet from Stardom (Twenty Feet from Stardom) (2013)',
 '20 Million Miles to Earth (1957)',
 '20,000 Days on Earth (2014)',
 '20,000 Leagues Under the Sea (1916)',
 '20,000 Leagues Under the Sea (1954)',
 '200 Cigarettes (1999)',
 '2001 Maniacs (2005)',
 '2001: A Space Odyssey (1968)',
 '2010: The Year We Make Contact (1984)',
 '2012 (2009)',
 '2046 (2004)',
 '2048: Nowhere to Run (2017)',
 '21 (2008)',
 '21 Grams (2003)',
 '21 Jump Street (2012)',
 '21 Up (1977)',
 '21 and Over (2013)',
 '22 Jump Street (2014)',
 '24 Hour Party People (2002)',
 '25th Hour (2002)',
 '27 Dresses (2008)',
 '28 Days (2000)',
 '28 Days Later (2002)',
 '28 Up (1985)',
 '28 Weeks Later (2007)',
 '3 Days to Kill (2014)',
 '3 Extremes (Three... Extremes) (Saam gaang yi) (2004)',
 '3 Idiots (2009)',
 '3 Ninjas (1992)',
 '3 Ninjas Kick Back (1994)',
 '3 Ninjas Knuckle Up (1995)',
 '3 Ninjas: High Noon On Mega Mountain (1998)',
 '3 Women (Three Women) (1977)',
 '3 dev adam (Three Giant Men) (1973) ',
 '3-Iron (Bin-jip) (2004)',
 '30 Days of Night (2007)',
 '30 Minutes or Less (2011)',
 '300 (2007)',
 '3000 Miles to Graceland (2001)',
 '300: Rise of an Empire (2014)',
 '31 (2016)',
 '35 Up (1991)',
 '39 Steps, The (1935)',
 '3:10 to Yuma (1957)',
 '3:10 to Yuma (2007)',
 '4 Little Girls (1997)',
 '4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile) (2007)',
 '40 Days and 40 Nights (2002)',
 '40-Year-Old Virgin, The (2005)',
 '400 Blows, The (Les quatre cents coups) (1959)',
 '42 (2013)',
 '42 Up (1998)',
 '42nd Street (1933)',
 '47 Ronin (2013)',
 '48 Hrs. (1982)',
 '49 Up (2005)',
 '5 Centimeters per Second (Byôsoku 5 senchimêtoru) (2007)',
 '5 to 7 (2014)',
 '5,000 Fingers of Dr. T, The (1953)',
 '50 First Dates (2004)',
 '50/50 (2011)',
 '52 Pick-Up (1986)',
 '54 (1998)',
 '6 Days to Air: The Making of South Park (2011)',
 '61* (2001)',
 '6th Day, The (2000)',
 '6th Man, The (Sixth Man, The) (1997)',
 '7 Days in Hell (2015)',
 '7 Faces of Dr. Lao (1964)',
 '7th Voyage of Sinbad, The (1958)',
 '8 1/2 (8½) (1963)',
 '8 Heads in a Duffel Bag (1997)',
 '8 Mile (2002)',
 '8 Seconds (1994)',
 '8 Women (2002)',
 '8 ½ Women (a.k.a. 8 1/2 Women) (a.k.a. Eight and a Half Women) (1999)',
 '800 Bullets (800 Balas) (2002)',
 '84 Charing Cross Road (1987)',
 '8MM (1999)',
 '9 (2009)',
 '9 1/2 Weeks (Nine 1/2 Weeks) (1986)',
 '9/11 (2002)',
 '96 Minutes (2011) ',
 '964 Pinocchio (1991)',
 '99 francs (2007)',
 '9to5: Days in Porn (a.k.a. 9 to 5: Days in Porn) (2008)',
 'A Bad Moms Christmas (2017)',
 'A Christmas Story Live! (2017)',
 'A Cosmic Christmas (1977)',
 'A Detective Story (2003)',
 "A Dog's Purpose (2017)",
 'A Flintstones Christmas Carol (1994)',
 'A German Life (2016)',
 'A Home at the End of the World (2004)',
 'A Man Called Blade (1977)',
 'A Man from Boulevard des Capucines (1987)',
 "A Merry Friggin' Christmas (2014)",
 "A Midsummer Night's Dream (2016)",
 'A Million Ways to Die in the West (2014)',
 'A Most Wanted Man (2014)',
 'A Perfect Day (2015)',
 'A Pigeon Sat on a Branch Reflecting on Existence (2014)',
 'A Plasticine Crow (1981)',
 'A Quiet Place (2018)',
 'A Silent Voice (2016)',
 'A Story of Children and Film (2013)',
 'A Street Cat Named Bob (2016)',
 'A Very Murray Christmas (2015)',
 'A Walk in the Woods (2015)',
 'A Wrinkle in Time (2018)',
 'A-Team, The (2010)',
 'A.I. Artificial Intelligence (2001)',
 'ABCs of Death, The (2012)',
 'ARQ (2016)',
 'AVP: Alien vs. Predator (2004)',
 'AVPR: Aliens vs. Predator - Requiem (2007)',
 'Abandoned, The (2006)',
 'Abbott and Costello Meet Frankenstein (1948)',
 'Abduction (2011)',
 'Abominable Dr. Phibes, The (1971)',
 'Abominable Snowman, The (Abominable Snowman of the Himalayas, The) (1957)',
 'About Adam (2000)',
 'About Last Night (2014)',
 'About Last Night... (1986)',
 'About Schmidt (2002)',
 'About Time (2013)',
 'About a Boy (2002)',
 'Above the Law (1988)',
 'Above the Rim (1994)',
 'Abraham Lincoln: Vampire Hunter (2012)',
 'Absence of Malice (1981)',
 'Absent-Minded Professor, The (1961)',
 'Absentia (2011)',
 'Absolute Power (1997)',
 'Absolutely Anything (2015)',
 'Abyss, The (1989)',
 'Accepted (2006)',
 'Accidental Spy, The (Dak miu mai shing) (2001)',
 'Accidental Tourist, The (1988)',
 'Accused, The (1988)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Ace in the Hole (Big Carnival, The) (1951)',
 'Aces: Iron Eagle III (1992)',
 'Acid House, The (1998)',
 'Across the Hall (2009)',
 'Across the Universe (2007)',
 'Act of Killing, The (2012)',
 'Act of Valor (2012)',
 'Action Jackson (1988)',
 "Adam and Eve (National Lampoon's Adam & Eve) (2005)",
 "Adam's Apples (Adams æbler) (2005)",
 "Adam's Rib (1949)",
 'Adanggaman (2000)',
 'Adaptation (2002)',
 'Addams Family Reunion (1998)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Addicted to Love (1997)',
 'Addiction, The (1995)',
 'Adjustment Bureau, The (2011)',
 'Admission (2013)',
 'Adventureland (2009)',
 'Adventures Of Sherlock Holmes And Dr. Watson: The Twentieth Century Approaches (1986)',
 'Adventures in Babysitting (1987)',
 'Adventures in Plymptoons! (2011)',
 'Adventures of Baron Munchausen, The (1988)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Adventures of Elmo in Grouchland, The (1999)',
 'Adventures of Ford Fairlane, The (1990)',
 'Adventures of Huck Finn, The (1993)',
 'Adventures of Ichabod and Mr. Toad, The (1949)',
 'Adventures of Mary-Kate and Ashley, The: The Case of the Christmas Caper (1995)',
 'Adventures of Milo and Otis, The (Koneko monogatari) (1986)',
 'Adventures of Mowgli: The Kidnapping (1968)',
 'Adventures of Pinocchio, The (1996)',
 'Adventures of Pluto Nash, The (2002)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Adventures of Robin Hood, The (1938)',
 'Adventures of Rocky and Bullwinkle, The (2000)',
 'Adventures of Sebastian Cole, The (1998)',
 'Adventures of Sharkboy and Lavagirl 3-D, The (2005)',
 'Adventures of Tintin, The (2011)',
 'Advise and Consent (1962)',
 'Aelita: The Queen of Mars (Aelita) (1924)',
 'Aeon Flux (2005)',
 'Affair of Love, An (Liaison pornographique, Une) (1999)',
 'Affair of the Necklace, The (2001)',
 'Affair to Remember, An (1957)',
 'Afflicted (2013)',
 'Affliction (1997)',
 'Afonya (1975)',
 'Africa: The Serengeti (1994)',
 'African Cats (2011)',
 'African Queen, The (1951)',
 'Afro Samurai (2007)',
 'Afro Samurai: Resurrection (2009)',
 'After Earth (2013)',
 'After Hours (1985)',
 'After Life (Wandafuru raifu) (1998)',
 'After the Fox (Caccia alla volpe) (1966)',
 'After the Sunset (2004)',
 'After the Thin Man (1936)',
 'After the Wedding (Efter brylluppet) (2006)',
 'Afterglow (1997)',
 'Against All Odds (1984)',
 'Against the Ropes (2004)',
 'Age of Innocence, The (1993)',
 'Agent Cody Banks (2003)',
 'Agent Cody Banks 2: Destination London (2004)',
 'Agnes of God (1985)',
 'Agony and the Ecstasy, The (1965)',
 'Agora (2009)',
 'Aguirre: The Wrath of God (Aguirre, der Zorn Gottes) (1972)',
 'Aileen: Life and Death of a Serial Killer (2003)',
 'Air America (1990)',
 'Air Bud (1997)',
 'Air Bud: Golden Receiver (1998)',
 'Air Force One (1997)',
 'Air I Breathe, The (2007)',
 'Air Up There, The (1994)',
 'Airborne (1993)',
 'Airheads (1994)',
 'Airplane II: The Sequel (1982)',
 'Airplane! (1980)',
 "Airport '77 (1977)",
 'Airport (1970)',
 'Airport 1975 (1974)',
 'Akeelah and the Bee (2006)',
 'Akira (1988)',
 "Akira Kurosawa's Dreams (Dreams) (1990)",
 'Aladdin (1992)',
 'Aladdin and the King of Thieves (1996)',
 'Alamo, The (1960)',
 'Alan Partridge: Alpha Papa (2013)',
 'Alaska (1996)',
 'Alaska: Spirit of the Wild (1997)',
 'Albatross (2011)',
 'Albino Alligator (1996)',
 'Alesha Popovich and Tugarin the Dragon (2004)',
 'Alex Cross (2012)',
 'Alex and Emma (2003)',
 'Alexander (2004)',
 'Alexander Nevsky (Aleksandr Nevskiy) (1938)',
 'Alfie (1966)',
 'Alfie (2004)',
 'Ali (2001)',
 'Ali G Indahouse (2002)',
 'Ali Wong: Baby Cobra (2016)',
 'Ali: Fear Eats the Soul (Angst essen Seele auf) (1974)',
 'Alias Betty (Betty Fisher et autres histoires) (2001)',
 'Alice (1990)',
 'Alice (2009)',
 'Alice (Neco z Alenky) (1988)',
 'Alice Adams (1935)',
 "Alice Doesn't Live Here Anymore (1974)",
 'Alice Through the Looking Glass (2016)',
 'Alice in Wonderland (1933)',
 'Alice in Wonderland (1951)',
 'Alice in Wonderland (2010)',
 'Alien (1979)',
 'Alien Contamination (1980)',
 'Alien Nation (1988)',
 'Alien from L.A. (1988)',
 'Alien: Covenant (2017)',
 'Alien: Resurrection (1997)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Alive (1993)',
 'All About Eve (1950)',
 'All About Lily Chou-Chou (Riri Shushu no subete) (2001)',
 'All About My Mother (Todo sobre mi madre) (1999)',
 'All About the Benjamins (2002)',
 'All Dogs Christmas Carol, An (1998)',
 'All Dogs Go to Heaven (1989)',
 'All Dogs Go to Heaven 2 (1996)',
 'All Good Things (2010)',
 'All Is Lost (2013)',
 'All Over the Guy (2001)',
 'All Quiet on the Western Front (1930)',
 'All Roads Lead to Rome (2016)',
 'All That Heaven Allows (1955)',
 'All That Jazz (1979)',
 'All This, and Heaven Too (1940)',
 'All Watched Over by Machines of Loving Grace (2011)',
 'All Yours (2016)',
 'All is Bright (2013)',
 'All of Me (1984)',
 'All or Nothing (2002)',
 'All the Boys Love Mandy Lane (2006)',
 "All the King's Men (1949)",
 "All the King's Men (2006)",
 "All the President's Men (1976)",
 'All the Pretty Horses (2000)',
 'All the Real Girls (2003)',
 'All the Right Moves (1983)',
 'All the Vermeers in New York (1990)',
 'All-Star Superman (2011)',
 'Allan Quatermain and the Lost City of Gold (1987)',
 'Allegro non troppo (1977)',
 'Alles Inklusive (2014)',
 'Alligator (1980)',
 'Allnighter, The (1987)',
 'Almost Famous (2000)',
 'Almost Heroes (1998)',
 'Almost an Angel (1990)',
 'Aloha (2015)',
 'Alone in the Dark (2005)',
 'Alone in the Dark II (2008)',
 'Along Came Polly (2004)',
 'Along Came a Spider (2001)',
 'Alpha (2018)',
 'Alpha Dog (2007)',
 'Alpha and Omega 3: The Great Wolf Games (2014)',
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 'Altered (2006)',
 'Altered States (1980)',
 'Alvarez Kelly (1966)',
 'Alvin and the Chipmunks (2007)',
 'Alvin and the Chipmunks: Chipwrecked (2011)',
 'Alvin and the Chipmunks: The Squeakquel (2009)',
 'Always (1989)',
 'Always Watching: A Marble Hornets Story (2015)',
 'Amadeus (1984)',
 'Amanda Knox (2016)',
 'Amarcord (1973)',
 'Amateur (1994)',
 'Amazing Grace (2006)',
 'Amazing Grace and Chuck (1987)',
 'Amazing Panda Adventure, The (1995)',
 'Amazing Spider-Man, The (2012)',
 'Amazing Transparent Man, The (1960)',
 'Amazon Women on the Moon (1987)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Amen. (2002)',
 'Amer (2009)',
 "America's Sweethearts (2001)",
 'American Astronaut, The (2001)',
 'American Beauty (1999)',
 'American Buffalo (1996)',
 'American Carol, An (2008)',
 'American Dreamz (2006)',
 'American Drug War: The Last White Hope (2007)',
 'American Fable (2017)',
 'American Flyers (1985)',
 'American Friend, The (Amerikanische Freund, Der) (1977)',
 'American Gangster (2007)',
 'American Gigolo (1980)',
 'American Graffiti (1973)',
 'American Grindhouse (2010)',
 'American Hardcore (2006)',
 'American Haunting, An (2005)',
 'American Heist (2015)',
 'American History X (1998)',
 'American Hustle (2013)',
 'American Made (2017)',
 'American Me (1992)',
 'American Movie (1999)',
 'American Ninja (1985)',
 'American Outlaws (2001)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American Pie Presents Beta House (American Pie 6: Beta House) (2007)',
 'American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)',
 'American Pie Presents: Band Camp (American Pie 4: Band Camp) (2005)',
 'American Pie Presents: The Book of Love (American Pie 7: The Book of Love) (2009)',
 'American Pop (1981)',
 'American President, The (1995)',
 'American Psycho (2000)',
 'American Psycho II: All American Girl (2002)',
 'American Reunion (American Pie 4) (2012)',
 'American Sniper (2014)',
 'American Splendor (2003)',
 'American Tail, An (1986)',
 'American Tail: Fievel Goes West, An (1991)',
 'American Ultra (2015)',
 'American Wedding (American Pie 3) (2003)',
 'American Werewolf in London, An (1981)',
 'American Werewolf in Paris, An (1997)',
 'American in Paris, An (1951)',
 'American, The (2010)',
 'American: The Bill Hicks Story (2009)',
 'Americanization of Emily, The (1964)',
 'Americathon (1979)',
 'Amistad (1997)',
 "Amityville 1992: It's About Time (1992)",
 'Amityville 3-D (1983)',
 'Amityville Curse, The (1990)',
 'Amityville Horror, The (1979)',
 'Amityville Horror, The (2005)',
 'Amityville II: The Possession (1982)',
 'Amityville: A New Generation (1993)',
 'Amityville: Dollhouse (1996)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Amos & Andrew (1993)',
 'Amy (2015)',
 "Amy's O (a.k.a. Amy's Orgasm) (2001)",
 'An Amazing Couple (2002)',
 'Anacleto: Agente secreto (2015)',
 'Anaconda (1997)',
 'Anaconda: The Offspring (2008)',
 'Anacondas: The Hunt for the Blood Orchid (2004)',
 'Analyze That (2002)',
 'Analyze This (1999)',
 'Anarchist Cookbook, The (2002)',
 'Anastasia (1956)',
 'Anastasia (1997)',
 'Anatomy of a Murder (1959)',
 'Anchorman 2: The Legend Continues (2013)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Anchors Aweigh (1945)',
 'And God Created Woman (Et Dieu... créa la femme) (1956)',
 'And Now... Ladies and Gentlemen... (2002)',
 'And So It Goes (2014)',
 'And Starring Pancho Villa as Himself (2003)',
 'And Then There Were None (1945)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'And the Band Played On (1993)',
 'And the Ship Sails On (E la nave va) (1983)',
 'Andalusian Dog, An (Chien andalou, Un) (1929)',
 'Andre (1994)',
 'Andrei Rublev (Andrey Rublyov) (1969)',
 'Andrew Dice Clay: Dice Rules (1991)',
 'Android (1982)',
 'Andromeda Strain, The (1971)',
 'Angel Baby (1995)',
 'Angel Eyes (2001)',
 'Angel Heart (1987)',
 'Angel at My Table, An (1990)',
 "Angel's Egg (Tenshi no tamago) (1985)",
 'Angel-A (2005)',
 "Angela's Ashes (1999)",
 'Angels & Demons (2009)',
 'Angels and Insects (1995)',
 'Angels in the Outfield (1994)',
 'Angels with Dirty Faces (1938)',
 "Angels' Share, The (2012)",
 'Anger Management (2003)',
 'Angie (1994)',
 'Angriest Man in Brooklyn, The (2014)',
 'Angry Red Planet, The (1959)',
 'Angst  (1983)',
 'Angus (1995)',
 'Angus, Thongs and Perfect Snogging (2008)',
 'Animal Crackers (1930)',
 'Animal Factory (2000)',
 'Animal Farm (1954)',
 'Animal House (1978)',
 'Animal, The (2001)',
 'Animals are Beautiful People (1974)',
 'Animatrix, The (2003)',
 'Anna Christie (1930)',
 'Anna Karenina (1935)',
 'Anna Karenina (1997)',
 'Anna Karenina (2012)',
 'Anna and the King (1999)',
 'Annabelle (2014)',
 'Annabelle: Creation (2017)',
 'Annapolis (2006)',
 'Anne Frank Remembered (1995)',
 'Anne of Green Gables (1985)',
 'Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987)',
 'Anne of the Thousand Days (1969)',
 'Annie (1982)',
 'Annie Get Your Gun (1950)',
 'Annie Hall (1977)',
 'Annihilation (2018)',
 'Anniversary Party, The (2001)',
 'Anomalisa (2015)',
 'Another 48 Hrs. (1990)',
 'Another Cinderella Story (2008)',
 'Another Earth (2011)',
 'Another Gay Movie (2006)',
 'Another Stakeout (1993)',
 'Another Thin Man (1939)',
 'Another Woman (1988)',
 'Ant Bully, The (2006)',
 'Ant-Man (2015)',
 'Ant-Man and the Wasp (2018)',
 'Anthony Adverse (1936)',
 'Anti-Social (2015)',
 'Antichrist (2009)',
 'Antitrust (2001)',
 "Antonia's Line (Antonia) (1995)",
 'Antonio Gaudí (1985)',
 'Antwone Fisher (2002)',
 'Antz (1998)',
 'Anvil! The Story of Anvil (2008)',
 'Any Given Sunday (1999)',
 'Any Which Way You Can (1980)',
 'Anything Else (2003)',
 'Anything for Her (Pour elle) (2008)',
 'Anything for Love (2016)',
 'Anywhere But Here (1999)',
 'Apartment, The (1960)',
 "Apartment, The (Appartement, L') (1996)",
 'Apocalypse Now (1979)',
 'Apocalypto (2006)',
 'Apollo 13 (1995)',
 'Apollo 18 (2011)',
 'Apostle, The (1997)',
 'Appaloosa (2008)',
 'Apple Dumpling Gang Rides Again, The (1979)',
 'Apple Dumpling Gang, The (1975)',
 'Apple, The (Sib) (1998)',
 'Applesauce (2015)',
 'Appleseed (Appurushîdo) (2004)',
 "April Fool's Day (1986)",
 'April Morning (1988)',
 'Apt Pupil (1998)',
 'Aqua Teen Hunger Force Colon Movie Film for Theaters (2007)',
 'Aquamarine (2006)',
 'Arachnophobia (1990)',
 'Ararat (2002)',
 'Are We Done Yet? (2007)',
 'Are We There Yet? (2005)',
 'Are You Scared? (2006)',
 'Argo (2012)',
 'Ari Shaffir: Double Negative (2017)',
 'Ariel (1988)',
 'Aristocats, The (1970)',
 'Aristocrats, The (2005)',
 'Arizona Dream (1993)',
 'Arlington Road (1999)',
 'Armageddon (1998)',
 'Armed and Dangerous (1986)',
 'Armour of God (Long xiong hu di) (1987)',
 'Armour of God II: Operation Condor (Operation Condor) (Fei ying gai wak) (1991)',
 'Army of Darkness (1993)',
 "Army of Shadows (L'armée des ombres) (1969)",
 'Around the World in 80 Days (1956)',
 'Around the World in 80 Days (2004)',
 'Arrival (2016)',
 'Arrival, The (1996)',
 'Arsenic and Old Lace (1944)',
 'Art School Confidential (2006)',
 'Art of Getting By, The (2011)',
 'Art of War, The (2000)',
 'Art of the Steal, The (2009)',
 'Art of the Steal, The (2013)',
 'Artemisia (1997)',
 'Arthur (1981)',
 'Arthur (2011)',
 'Arthur 2: On the Rocks (1988)',
 'Arthur Christmas (2011)',
 'As Above, So Below (2014)',
 'As Good as It Gets (1997)',
 'As I Was Moving Ahead Occasionally I Saw Brief Glimpses of Beauty (2000)',
 'As You Like It (2006)',
 'Ascent, The (Voskhozhdeniye) (1977)',
 'Ashby (2015)',
 'Ashes and Diamonds (Popiól i diament) (1958)',
 'Ashes of Time (Dung che sai duk) (1994)',
 'Ask the Dust (2006)',
 'Aspen Extreme (1993)',
 'Asphalt Jungle, The (1950)',
 'Asphyx, The (1973)',
 "Assassin's Creed (2016)",
 'Assassination (1987)',
 'Assassination Tango (2002)',
 'Assassination of Jesse James by the Coward Robert Ford, The (2007)',
 'Assassination of Richard Nixon, The (2004)',
 'Assassination of a High School President (2008)',
 'Assassins (1995)',
 'Assault on Precinct 13 (1976)',

#### 4. Create the recommender system (define the function).

For my recommender system, I am going to use a function that includes information from above to "align" the recommended movies (10 selections) with the movie searched by the user.

In [186]:
## Recommender System.
## Create and define a function that will obtain the 10 movie recommendations.

def get_movie_recommendations(movie):
    if movie in available_movies:
        tag_list = []
        tag_list = top7tags_df[top7tags_df['title'] == movie]['tag'].unique().tolist()
        movie_list = []

        for tag in tag_list:
            for tags in top7tags_df[top7tags_df['tag'].str.contains(tag, regex=False)==True]['title'].unique().tolist():
                if tags != movie:
                    movie_list.append(tags)

        movie_list_set = set(movie_list)
        movie_list = (list(movie_list_set))
        recs = aggregate_rate_df[aggregate_rate_df['title'].isin(movie_list)].nlargest(10, 'rating')['title'].to_list()
        print(recs)

    else:
        print("Oops! That movie is not present within the database. Please pick another movie to get your recommendations!")

#### 5. Try out the recommender.

In [203]:
## Try it out!
## Select a movie to see what other recommendations "pop-up".
movie = 'Toy Story'

## Call on the function to obtain the recommendations for 500 Days of Summer.
get_movie_recommendations(movie)

Oops! That movie is not present within the database. Please pick another movie to get your recommendations!

In [202]:
## Try it now with the year.
movie = 'Toy Story (1995)'

## Call on the function to obtain the recommendations for 500 Days of Summer.
get_movie_recommendations(movie)

['Brothers Bloom, The (2008)', 'Graduate, The (1967)', 'Guardians of the Galaxy (2014)', 'Game Night (2018)', 'The Lego Movie (2014)', 'Big Hero 6 (2014)', 'Guardians of the Galaxy 2 (2017)', 'Big Short, The (2015)', 'Kung Fury (2015)', 'Zombieland (2009)']

Not bad! It appears like some of the movies fit well as good recommendations, while others, I am not so sure. But, for example, Guardians of the Galaxy (and the second one), The Lego Movie, Big Hero 6, etc. are strong recommendations with similar themes.

### Alternative Methods: Correlation and KNN

While the above is a simple methodology, I wanted to try some others to see how they compare.

#### 1. Movie correlations method.

In [208]:
## Load and view data (again).
## Ratings.
ratings2_df = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\ratings.csv")
ratings2_df.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [209]:
## Movies.
movies2_df = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\movies.csv")
movies2_df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [210]:
## Merge.
ratings2_df = ratings2_df.merge(movies2_df, on='movieId', how='left')

## View.
ratings2_df.head(5)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [211]:
## Create rating counts (by movie/title).
total_ratings = pd.DataFrame(ratings2_df.groupby('title')['rating'].count())
total_ratings = total_ratings.reset_index()

In [212]:
## Rename column.
total_ratings = total_ratings.rename(columns={'rating':'number of ratings'})

## View.
total_ratings.head(10)

                                     title  number of ratings
0                               '71 (2014)                  1
1  'Hellboy': The Seeds of Creation (2004)                  1
2                   'Round Midnight (1986)                  2
3                      'Salem's Lot (2004)                  1
4                'Til There Was You (1997)                  2
5          'Tis the Season for Love (2015)                  1
6                       'burbs, The (1989)                 17
7                     'night Mother (1986)                  1
8              (500) Days of Summer (2009)                 42
9           *batteries not included (1987)                  7

In [213]:
## Merge again.
merged_df = ratings2_df.merge(total_ratings, on='title', how='left')

## View.
merged_df.head(5)

,userId,movieId,rating,timestamp,title,genres,number of ratings
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,52
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,102
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,203
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,204

In [216]:
## Filter out movies with less than 10 ratings
merged_df = merged_df[merged_df['number of ratings'] > 10]

In [217]:
## Pivot the table
user_df = merged_df.pivot_table(index='userId', columns='title', values='rating')

In [218]:
## View.
user_df.head(5)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
## Obtain movie suggestions.
## Input movie title.
movie = 'Toy Story (1995)'

In [220]:
## Calculate correlations.
correlations = user_df.corrwith(user_df[movie]).sort_values(ascending=False)

In [221]:
# Print movie suggestions
print('Your Top 10 movie suggestions are:\n')
for i in range (1,11):
    print(correlations.index[i])

Your Top 10 movie suggestions are:

The Nice Guys (2016)
Avengers: Infinity War - Part I (2018)
Blues Brothers 2000 (1998)
Singles (1992)
22 Jump Street (2014)
Passion of the Christ, The (2004)
Untitled Spider-Man Reboot (2017)
Dunkirk (2017)
48 Hrs. (1982)
Darjeeling Limited, The (2007)

From this method, we receive some different recommendations. While a couple seem to fit, overall it seems like the recommendations are less strong than the ones from the previous method - these seem to be more adult movies whereas Toy Story is geared more towards children.

#### 2. KNN classifier method.

In [222]:
## Import additional libraries.
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [223]:
## Load data.
movies = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\movies.csv")

ratings = pd.read_csv(r"C:\Users\Madeleine's PC\Documents\Madeleine\Documents\Bellevue University Courses\Masters in DS\BU DSC630\Data\ratings.csv")

In [224]:
## View.
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [225]:
## View.
ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [226]:
## Pivot.
final_dataset = ratings.pivot(index='movieId',columns='userId',values='rating')
final_dataset.head(5)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
## Fill NAs in this method.
final_dataset.fillna(0,inplace=True)
final_dataset.head(5)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [228]:
## Aggregate the number of users who voted/submitted ratings.
no_user_voted = ratings.groupby('movieId')['rating'].agg('count')
no_movies_voted = ratings.groupby('userId')['rating'].agg('count')

In [229]:
## Set threshold for user votes.
final_dataset = final_dataset.loc[no_user_voted[no_user_voted > 5].index,:]

In [230]:
## Set threshold for movie votes.
final_dataset=final_dataset.loc[:,no_movies_voted[no_movies_voted > 10].index]
final_dataset

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [231]:
sample = np.array([[0,0,3,0,0],[4,0,0,0,2],[0,0,0,0,1]])
sparsity = 1.0 - ( np.count_nonzero(sample) / float(sample.size) )
print(sparsity)

0.7333333333333334

In [232]:
csr_sample = csr_matrix(sample)
print(csr_sample)

  (0, 2)	3
  (1, 0)	4
  (1, 4)	2
  (2, 4)	1

In [233]:
csr_data = csr_matrix(final_dataset.values)
final_dataset.reset_index(inplace=True)

In [234]:
## Create the recommendation model.
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10, n_jobs=-1)
knn.fit(csr_data)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=10)

In [235]:
## Recommendation function.
def get_movie_recommendation(movie_name):
    n_movies_to_reccomend = 10
    movie_list = movies[movies['title'].str.contains(movie_name)]  
    if len(movie_list):        
        movie_idx= movie_list.iloc[0]['movieId']
        movie_idx = final_dataset[final_dataset['movieId'] == movie_idx].index[0]
        distances , indices = knn.kneighbors(csr_data[movie_idx],n_neighbors=n_movies_to_reccomend+1)    
        rec_movie_indices = sorted(list(zip(indices.squeeze().tolist(),distances.squeeze().tolist())),key=lambda x: x[1])[:0:-1]
        recommend_frame = []
        for val in rec_movie_indices:
            movie_idx = final_dataset.iloc[val[0]]['movieId']
            idx = movies[movies['movieId'] == movie_idx].index
            recommend_frame.append({'Title':movies.iloc[idx]['title'].values[0],'Distance':val[1]})
        df = pd.DataFrame(recommend_frame,index=range(1,n_movies_to_reccomend+1))
        return df
    else:
        return "Oops! That movie is not present within the database. Please pick another movie to get your recommendations!"

In [236]:
## Search and get recommendations!
## Try a new movie here.
get_movie_recommendation('Toy Story')

                                                Title  Distance
1                           Back to the Future (1985)  0.469619
2                                Groundhog Day (1993)  0.465831
3                          Mission: Impossible (1996)  0.461087
4   Star Wars: Episode VI - Return of the Jedi (1983)  0.458911
5                               Lion King, The (1994)  0.458855
6                                 Forrest Gump (1994)  0.452904
7           Star Wars: Episode IV - A New Hope (1977)  0.442612
8                Independence Day (a.k.a. ID4) (1996)  0.435738
9                                Jurassic Park (1993)  0.434363
10                                 Toy Story 2 (1999)  0.427399

These recommendations seem more in line with the first, and are quite better than the second method. Lots of good recommendations here that are in line with the same theme and would be good movies for children to watch as well. Interestingly enough, this is the only recommender than recommended Toy Story 2 - and it placed it as the 10th recommendation! Overall, I think this one performed best and was the most precise method.

Conclusions:

* The first method I used was a more content-based method that focused on movie tags to make the ten other movie recommendations. The recommendations were pretty good overall.
* The second method focused on using correlation to make movie recommendations (so making a recommendation based upon how correlated it was with the movie choice entered). This one's recommendations were a bit amiss, in my opinion.
* Lastly, the final method (KNN) was a collaborative type recommender method. Overall, I believe this one had the best recommednations and was the most precise - it was also more "machine-learning-esque" than the other two.

Overall, I enjoyed this project - it is neat to see how programming, coding, and mathematical methodologies can be used for "real-life" application - I have no doubt that streaming services (like Netflix) use a more fancy-pants version of the above to regularly make recommendations for its customers.

To complete this assignment, I consulted a variety of resources. Please see below.

##### References/Resources Used:

* https://www.analyticsvidhya.com/blog/2020/11/create-your-own-movie-movie-recommendation-system/
* https://stackabuse.com/creating-a-simple-recommender-system-in-python-using-pandas/
* https://analyticsindiamag.com/how-to-build-your-first-recommender-system-using-python-movielens-dataset/
* https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea